* {
    box-sizing:border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p,ul,form{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

hr { 
    margin-left: 100px;
    margin-right: 100px;
}

.header {
    padding: 60px;
    text-align: center;
    background: blue;
    color: white
}

.header h1 {
     font-size:40px
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align:center;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color:#ffffff;
    color: black;
}

.navbar a.active{
    background-color: #808080;
    color: black;
}

.imagecontainer {
    margin: auto;
    text-align:center;
}

.imagecontainer a {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
}
